$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

@mixin screen($media) {
  @if $media == xs {
    @media only screen and (max-width: $break-sm - 1) { @content; } //mobile
  }
  @else if $media == smup {
    @media only screen and (min-width: $break-sm) { @content; } //all device more than 768px
  }
  @else if $media == sm {
    @media only screen and (min-width: $break-sm) and (max-width: $break-md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $break-md + 1) and (max-width: $break-lg - 1) { @content; } //tablet
  }
  @else if $media == lg {
    @media only screen and (min-width: $break-lg) { @content; } //laptop
  }
}

.brand-template {
  .header.navbar-default .navbar-collapse .navbar-nav li {
    &:last-child {
      padding: 0;
      a {
        border-right: 0;
      }
    }
    &.active {
      a {
        color: #e30077;
      }
    }
    a {
      background: #fff;
      color: #000;
      padding: 0 15px;
      margin: 10px 0;
      border-right: 2px solid #000;
    }
  }
  .wrapper-brand {
    clear: both;
    padding: 0 0 50px;
    font-size: 16px;
    .banner {
      border-bottom: 1px solid #ccc;
      position: relative;
      margin-bottom: 50px;
      @include screen(xs) {
        margin-bottom: 25px;
      }
      img {
        max-width: 100%;
      }
      .content-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 50%;
        @include screen(xs) {
          width: 85%;
        }
        h1 {
          font-size: 50px;
          @include screen(xs) {
            font-size: 30px;
          }
        }
        p {
          font-size: 20px;
          @include screen(xs) {
            font-size: 14px;
          }
        }
      }
    }
    .category {
      border: 2px solid #d5d5d5;
      border-radius: 5px;
      padding: 75px 50px 35px;
      @include screen(sm) {
        padding: 35px 50px;
      }
      @include screen(xs) {
        padding: 25px 40px 20px;
      }
      img {
        height: 85px;
        width: auto;
      }
      h4 {
        margin-top: 30px;
        @include screen(xs) {
          margin-top: 15px;
        }
      }
      a {
        margin-top: 40px;
        display: block;
        @include screen(xs) {
          margin-top: 20px;
        }
      }
      &.global-sim {
        border-top: 8px solid #2484c5;
        @include screen(xs) {
          margin-bottom: 20px;
        }
        a, h4 {
          color: #2484c5;
          font-weight: bold;
        }
      }
      &.mobile-service {
        border-top: 8px solid #cf0900;
        a, h4 {
          color: #cf0900;
          font-weight: bold;
        }
      }
    }
  }
  footer {
    background: #333333;
    padding: 20px 0 10px;
    color: #959595;
    text-align: center;
    p {
      font-size: 14px;
    }
    ul {
      margin: 0 0 10px;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
        border-right: 1px solid #fff;
        @include screen (xs) {
          width: 100%;
          border-radius: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          color: #fff;
        }
      }
    }
  }
}
