$icon-font-path: '../fonts/';

@import "brand";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// FONT FACE
@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNextLTPro-Bold.eot');
	src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
	src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirNextLTPro-Demi.eot');
	src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

// Variable
$pink: #e30077;
$orange: #f7931e;
$green: #29b468;
$blue: #0095df;
$dark-pink: #cb0063;
$error-red: #e81111;

// MIXIN
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

@mixin screen($media) {
  @if $media == xs {
    @media only screen and (max-width: $break-sm - 1) { @content; } //mobile
  }
  @else if $media == smup {
    @media only screen and (min-width: $break-sm) { @content; } //all device more than 768px
  }
  @else if $media == sm {
    @media only screen and (min-width: $break-sm) and (max-width: $break-md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $break-md + 1) and (max-width: $break-lg - 1) { @content; } //tablet
  }
  @else if $media == lg {
    @media only screen and (min-width: $break-lg) { @content; } //laptop
  }
}

// GENERAL
@include screen(lg) {
  .container {
    width: 1280px;
  }
}
body {
  font-family: 'Avenir', sans-serif;
}
h2 {
  font-size: 32px;
  @include screen(xs) {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
  @include screen(xs) {
    font-size: 18px;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
a {
  &:hover, &:active, &:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}
.text-pink {
  color: $pink;
}
.bg-white {
  background: #fff;
}
.bg-beige-white {
  background: #f2f2f2;
}
.bg-pink {
  background: $pink;
  color: #fff;
  .primary-button {
    border: 1px solid #fff;
    &:hover {
      background: #fff;
      color: $pink;
    }
  }
}
.bg-gradient {
	background: rgba(35,132,197,1);
	background: -moz-linear-gradient(left, rgba(35,132,197,1) 0%, rgba(193,23,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,132,197,1)), color-stop(100%, rgba(193,23,132,1)));
	background: -webkit-linear-gradient(left, rgba(35,132,197,1) 0%, rgba(193,23,132,1) 100%);
	background: -o-linear-gradient(left, rgba(35,132,197,1) 0%, rgba(193,23,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(35,132,197,1) 0%, rgba(193,23,132,1) 100%);
	background: linear-gradient(to right, rgba(35,132,197,1) 0%, rgba(193,23,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2384c5', endColorstr='#c11784', GradientType=1 );
}
.btn-back-to-top {
	float: right;
}
.no-margin-top {
  margin-top: 0 !important;
}
.section {
	padding: 45px 0 70px;
	@include screen(xs) {
		padding: 25px 0 45px;
	}
}
.container-main-content {
  clear: both;
}
.container-loading {
  display: none;
  background: #eee;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(227, 0, 119, 1);
    border-right: 1.1em solid rgba(227, 0, 119, 1);
    border-bottom: 1.1em solid rgba(227, 0, 119, 1);
    border-left: 1.1em solid rgba(227, 0, 119, .5);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    &:after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
.wrapper-white-grey {
  background: #f2f2f2;
  @include screen(sm) {
    background: #fff;
  }
  @include screen(xs) {
    background: #fff;
  }
}
.wrapper-box {
  h4 {
    margin-top: 40px;
  }
  color: #000;
  // padding: 20px 15px;
  margin-bottom: 30px;
  &.white {
    background: #fff;
  }
  &.grey {
    background: #f2f2f2;
  }
  table {
    width: 100%;
    tr td {
      width: 50%;
    }
  }
}
.primary-button {
  background: $pink;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 60px;
  margin-top: 30px;
  display: inline-block;
  @include screen(xs) {
    // width: 100%;
		padding: 10px 30px;
    text-align: center;
    &.full {
      position: absolute;
      left: 0;
    }
  }
  &:hover {
    color: #fff;
    background: $dark-pink;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}
.secondary-button {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 60px;
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #000;
	&.white-border {
		border: 1px solid #fff;
		color: #fff;
		&:hover {
			color: #000;
			background: #fff;
		}
	}
  @include screen(xs) {
    width: 100%;
    text-align: center;
    &.full {
      position: absolute;
      left: 0;
    }
  }
  &:hover {
    color: #fff;
    background: #000;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}

// FORM STYLE
.forms {
  @include screen(xs) {
    margin-bottom: 80px;
  }
  button[type="submit"] {
    border-radius: 0;
    background: $pink;
    color: #fff;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 60px;
    display: inline-block;
    &.disabled {
      opacity: .5;
      &:hover, &:focus, &:active {
        background: $pink;
        color: #fff;
      }
    }
    &:hover, &:focus, &:active {
      background: $dark-pink;
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out;
    }
    @include screen(xs) {
      width: 100% ;
      display: block;
      &.full {
        position: fixed;
        left: 0;
        bottom: 0;
      }
    }
  }
  .checkbox {
    a {
      color: #000;
      display: inline-block;
    }
    label {
      padding-left: 0;
      input[type="checkbox"] {
        display: none;
        &:checked+.cr>.cr-icon {
          opacity: 1;
        }
        & +.cr > .cr-icon {
          opacity: 0;
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: 0;
      width: 22px;
      height: 22px;
      float: left;
      margin-right: .5em;
      .cr-icon {
        width: 12px;
        height: 12px;
        background: $pink;
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }
  }
  label {
    font-weight: normal;
    width: 100%;
    .info {
      float: right;
      a {
        color: #7f7f7f;
      }
      i {
        font-size: 20px;
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }
  .has-error {
    position: relative;
    .form-control {
      border-color: $error-red;
      color: $error-red;
    }
    .checkbox {
      label {
        color: #000;
      }
      .cr {
        border: 1px solid $error-red;
      }
    }

    .help-block {
      color: $error-red;
    }
  }
  .form-control {
    border-radius: 0;
    padding: 15px 20px;
    height: auto;
    &[disabled] {
      background: #f0f0f0;
    }
  }
  .select-wrapper, .input-wrapper {
    position: relative;
  }
  select {
    background: #efefef;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    & + i {
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .form-group {
    margin-bottom: 30px;
    @include screen(xs) {
      margin-bottom: 15px;
    }
    .icon-error {
      display: none;
    }
    &.has-error {
      .icon-error {
        line-height: 1;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        font-size: 28px;
        color: $error-red;
      }
    }
  }
  input + input {
    margin-top: 10px;
  }
}

// TOP NAVIBAR
.header {
  // background: #343434;
  // float: left;
  width: 100%;
  padding: 15px 30px;
  @include screen(xs) {
    padding: 10px 15px;
  }
  &.navbar-default {
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    height: auto;
    min-height: auto;
    margin-bottom: 0;
    background: rgba(255,255,255, .8);
    .btn-free-sim {
      background: $pink;
      color: #fff;
      padding: 10px 15px;
      float: right;
      margin-right: 15px;
      text-transform: uppercase;
      font-weight: bold;
			@include screen(xs) {
				font-size: 12px;
				padding: 5px 10px;
			}
    }
    .navbar-toggle {
      border: 0;
      margin-right: 0;
      padding: 0;
			@include screen(xs) {
				margin: 0;
			}
      &:active, &:hover, &:focus {
        background-color: transparent;
      }
      .icon-bar {
        background: #000;
        border-radius: 0;
        width: 34px;
        height: 3px;
        + .icon-bar {
          margin-top: 7px;
        }
      }
    }
    .navbar-collapse {
      border: 0;
      box-shadow: none;
      .navbar-nav {
        padding: 5px 0;
        font-size: 16px;
        @include screen(xs) {
          margin: 15px -15px 0;
          padding: 10px 0 0;
          border-top: 1px solid #999;
        }
        li {
          &:last-child {
            padding: 5px 0 5px 20px;
          }
          a {
            color: #000;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 0;
            &:active, &:hover, &:focus {
              background: transparent;
              color: $pink;
            }
            &.selected, &:active {
              color: #8ec31f;
            }
            &.bars {
              font-size: 22px;
            }
            &.highlight {
              background: #e30077;
              margin: 0 20px;
              &:hover, &:active {
                color: #fff;
              }
            }
            @include screen(xs) {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    padding: 0;
    height: auto;
    img {
      display: inline-block;
      vertical-align: middle;
			@include screen(xs) {
				height: 25px;
			}
      &:first-child {
        padding-right: 20px;
        border-right: 1px solid #7f7f7f;
        margin-right: 15px;
      }
      &:nth-child(2) {
        @include screen(xs) {
          padding-right: 10px;
          border-right: 1px solid #7f7f7f;
          margin-right: 7px;
        }
      }
    }
  }
}
.wrapper-breadcrumb {
  border-bottom: 1px solid #ccc;
  width: 100%;
  clear: both;
  .breadcrumb {
    background-color: transparent;
    float: none;
    clear: both;
    padding: 20px 0;
    margin-bottom: 0;
    > li {
      &.active {
        color: $pink;
      }
      a {
        color: #000;
      }
      + li:before {
        font: normal normal normal 16px FontAwesome;
        content: "\f105";
        color: #000000;
      }
    }
  }
}

// =======================================================================
// CONTENT
// =======================================================================
// HOMEPAGE
.homepage {
  // position: absolute;
  // z-index: -1;
	h1, h2 {
		font-weight: 500;
	}
	.primary-button, .secondary-button	{
		@include screen(xs) {
			width: auto;
			padding: 10px 30px;
		}
		@include screen(sm) {
			padding: 15px 30px;
		}
	}
  .carousel  {
    // height: 908px;
    .fa-angle-down {
      position: absolute;
      color: #fff;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 64px;
			text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
			@include screen(sm) {
				bottom: 10px;
			}
			@include screen(xs) {
				bottom: 5px;
			}
    }
    .carousel-indicators {
      bottom: 70px;
      padding-left: 60px;
      left: 0;
      margin-left: 0;
      width: auto;
			@include screen(sm) {
				bottom: 20px;
				padding-left: 30px;
			}
			@include screen(xs) {
				bottom: 50px;
				padding-left: 15px;
			}
      li {
        background: #fff;
        border: 0;
      }
      .active {
        background: $pink;
      }
    }
    .carousel-inner {
      // height: 908px;
      > .item {
        .carousel-caption {
          text-shadow: none;
          text-align: left;
          padding: 0 60px;
          width: 600px;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: auto;
					@include screen(md) {
						top: 40%;
					}
					@include screen(sm) {
						top: 35%;
						padding: 0 30px;
					}
					@include screen(xs) {
						padding: 0 15px;
				    top: auto;
				    bottom: 100px;
				    transform: none;
				    width: 100%;
					}
          h1 {
            font-size: 50px;
						margin-top: 5px;
						text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
						font-weight: 500;
						@include screen(xs) {
							line-height: 0.8;
						}
          }
					h2 {
						margin-bottom: 0;
						text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
						font-weight: 500;
					}
          span {
            // background: rgba(0, 0, 0, 0.5);
            // padding: 5px 10px;
            // border-radius: 5px;
            // font-weight: bold;
            color: #a0d928;
            // text-transform: uppercase;
          }
          p {
            font-size: 16px;
						text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
          }
					.primary-button {
						margin-top: 10px;
					}
        }
				.hashtag {
					position: absolute;
					bottom: 75px;
					right: 45px;
					color: #fff;
					text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
					font-size: 20px;
					@include screen(sm) {
						bottom: 20px;
						text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
					}
					@include screen(xs) {
						bottom: auto;
				    right: 15px;
						font-size: 14px;
				    top: 25px;
						text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
					}
				}
				.contact {
					background: rgba(0, 0, 0, 0.5);
					transform: rotate(270deg) translateY(-50%);
					color: #fff;
					text-transform: uppercase;
					position: absolute;
					padding: 10px 20px;
					right: -97px;
					top: 50%;
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 1.5px;
					margin: 0;
					border-radius: 5px;
					@include screen(xs) {
						font-size: 13px;
						right: -44px;
						top: auto;
						bottom: 65px;
						transform: rotate(270deg);
						padding: 5px 10px;
						img {
							height: 19px;
							width: auto;
						}
					}
				}
      }
    }
  }
  .wrapper-data-plan {
    background: #f2f2f2;
    .content-data-plan {
      padding: 70px 0 50px;
			@include screen(sm) {
				padding: 45px 0;
			}
			@include screen(xs) {
				padding: 45px 15px;
			}
			> p {
				width: 600px;
				margin: 0 auto;
				@include screen(xs) {
					width: 100%;
				}
			}
      h2 {
        padding: 0 0 25px;
        margin: 0;
      }
			.wrapper-slider-img {
				position: relative;
				margin: 60px 0 70px;
				height: 400px;
				@include screen(xs) {
					height: 320px;
					margin: 0;
				}
				.slide-img {
					position: absolute;
					bottom: 0;
          opacity: 0;
					@include screen(xs) {
						padding: 0 30px;
						img {
							max-height: 320px;
						}
					}
          &.fadeInUp {
            opacity: 1;
          }
				}
				img {
					max-width: 100%;
				}
			}
      .wrapper-slider {
        margin: 60px 0 70px;
				@include screen(xs) {
					margin: 100px 0 0;
				}
        .data-display {
          width: 100%;
          .promo-text, .huge-number, .total-data {
            display: inline-block;
            vertical-align: top;
          }
          .promo-text {
            width: auto;
            margin-right: 40px;
            font-size: 16px;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 18px;
          }
          .huge-number {
            font-size: 160px;
            font-weight: bold;
            line-height: .8;
          }
          .total-data {
            font-size: 16px;
            font-weight: bold;
            margin-left: 20px;
            > p {
              margin: 0;
            }
            .gb {
              font-size: 70px;
              font-weight: bold;
              line-height: 1;
            }
          }
        }
        .data-slider {
          p {
            color: #a3a3a3;
            font-weight: bold;
            text-transform: uppercase;
          }
          .slider-selection {
            &.tick-slider-selection {
              box-shadow: none;
              background: #ddd;
            }
          }
          .slider {
						&.slider-horizontal {
							width: 90%;
							.slider-track {
								background: #ddd;
								box-shadow: none;
							}
							.slider-tick-label-container {
								margin-top: -80px;
								margin-left: 0 !important;
								width: 100%;
								position: relative;
								.slider-tick-label {
									position: absolute;
									> div {
										> span {
											font-size: 20px;
											font-weight: 500;
										}
										> p {
											font-size: 30px;
											color: #000;
										}
									}
									&:first-child {
										text-align: left;
										left: -12px;
										display: none;
									}
									&:nth-child(2) {
										text-align: center;
										left: 50%;
										transform: translateX(-50%);
									}
									&:last-child {
										text-align: right;
										right: -12px;
										display: none;
									}
								}
							}
						}
						&.slider-vertical  {
							width: 16px;
							height: 400px;
	            .slider-tick-label-container {
	              margin-top: -30px;
	              .slider-tick-label {
	                color: #000;
									margin-top: -15px;
									padding-left: 40px;
									&:first-child {
										> div {
											> p {
												color: $pink;
											}
										}

									}
									> div {
										text-align: center;
										float: left;

										> span {
											font-size: 18px;
											color: #888888;
										}
										> p {
											color: #000;
											font-size: 32px;
											font-weight: bold;
			                text-transform: uppercase;
										}
									}
	                sup {
	                  font-size: 50%;
	                  top: -0.6em;
	                }
	              }
	            }
	            .slider-track {
								width: 16px;
	              border-radius: 0;
	              background: transparent;
	              margin-top: 2px;
								.slider-track-high {
									background: #bebebe;
								}
	            }
	          }
					}

          .slider-handle.custom {
            // background: url(../images/slider-roll.png) top left no-repeat transparent;
						width: 30px !important;
				    height: 30px;
				    margin-left: -3px;
				    background: #fff;
				    border-radius: 50%;
				    border: 10px solid #555;
						@include screen(xs) {
							width: 25px !important;
					    height: 25px;
							margin-left: -12px;
							border: 7px solid #555;
							margin-top: -3px;
						}
            &:before {
              content: "";
            }
            /* You can customize the handle and set a background image */
          }
          .slider-tick {
            margin-left: 2px;
						width: 20px;
						height: 20px;
						background: #888;
						border-radius: 50%;
						@include screen(xs) {
							margin-left: -7px;
							width: 17px;
							height: 17px;
						}
            &.custom {
              &:before {
                content: '';
              }
            }
          }
        }
      }
    }
  }
	.wrapper-banner {
		position: relative;
		.banner-img {
			img {
				width: 100%;
			}
		}
    .content, .disclaimer {
      position: absolute;
      width: 40%;
			color: #333;
			@include screen(xs) {
				width: 100%;
				padding: 0 25px;
				text-align: center;
			}
			&.top {
				top: 45px;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				@include screen(md) {
					width: 50%;
					top: 30px;
				}
				@include screen(sm) {
					width: 80%;
					top: 15px;
				}
				@include screen(xs) {
					top: 10px;
				}
				.primary-button {
					margin-top: 10px;
				}
			}
      &.left {
        left: 90px;
				@include screen(md) {
					left: 50px;
				}
				@include screen(sm) {
					left: 50px;
				}
				@include screen(xs) {
					left: 0;
				}
      }
      &.right {
        right: 90px;
				@include screen(md) {
					right: 50px;
				}
				@include screen(sm) {
					right: 30px;
				}
				@include screen(xs) {
					right: 0;
				}
      }
    }
		.content {
			top: 45%;
			transform: translateY(-50%);
			@include screen(md) {
				top: 35%;
			}
			@include screen(sm) {
				top: 35%;
			}
			@include screen(xs) {
				top: 60%;
			}
			h2 {
				font-weight: 500;
				@include screen(sm) {
					font-size: 24px;
				}
				span {
					font-weight: bold;
				}
			}
      p {
        font-size: 18px;
				@include screen(sm) {
					font-size: 16px;
				}
				@include screen(xs) {
					font-size: 15px;
				}
      }
		}
    .disclaimer {
      bottom: 60px;
      line-height: 1.2;
      font-size: 13px;
			@include screen(sm) {
				bottom: 25px;
				font-size: 12px;
			}
			@include screen(xs) {
				bottom: 25px;
				font-size: 12px;
			}
    }
	}

	.wrapper-rates {
		.owl-carousel .owl-dots .owl-dot {
			&:first-child {
				background: #f7921e;
			}
			&:nth-child(2) {
				background: $green;
			}
			&:last-child {
				background: $blue;
			}
		}
		.payg-rate-content {
			text-align: center;
			margin-top: 60px;
			@include screen(xs) {
				margin-top: 30px;
			}
			img {
				@include screen(xs) {
					width: auto;
			    margin: 0 auto;
				}
			}
			h4 {
				margin: 15px 0 25px;
			}
			.rate-details {
				margin: 0 auto;
				tr {
					vertical-align: middle;
					td {
						color: #000;
						text-align: left;
						margin-bottom: 5px;
						vertical-align: middle;
						padding-bottom: 5px;
						&.label {
							text-align: right;
							font-weight: normal;
							font-size: 16px;
							margin-right: 5px;
						}
						span {
							font-size: 16px;
							color: #fff;
							border-radius: 0 5px 5px 0;
							background: #989898;
							display: inline-block;
							padding: 1px 35px 2px 10px;
							&.orange {
								background: $orange;
								padding: 1px 15px 2px 10px;
							}
							&.green {
								background: $green;
								padding: 1px 15px 2px 10px;
							}
							&.blue {
								background: #0096df;
								padding: 1px 15px 2px 10px;
							}
						}
					}
				}
			}
			.disclaimer {
				font-size: 14px;
				margin-top: 15px;
			}


		}
	}

	.wrapper-cmlink-sim {
		padding: 0 0 70px;
		@include screen(sm) {
			padding: 0 0 45px;
		}
		.heading {
			position: relative;
			@include screen(xs) {
				padding: 0 15px;
			}
			.line {
				border-top: 2px solid #989898;
			}
			h4 {
				position: absolute;
				top: 0;
				background: white;
				padding: 0 35px;
				margin-top: -10px;
				left: 50%;
				transform: translateX(-50%);
				@include screen(xs) {
					padding: 0 12px;
					margin-top: -20px;
				}
			}
		}
		.content-cmlink {
			margin-top: 40px;
			p {
				font-size: 16px;
				margin-top: 20px;
			}
		}
		.button-disclaimer {
			.disclaimer {
				margin-top: 50px;
				margin-bottom: 0;
				@include screen(md) {
					margin-top: 30px;
				}
				@include screen(sm) {
					margin-top: 10px;
				}
				@include screen(xs) {
					margin-top: 10px;
					display: inline-block;
				}
			}
		}
	}
	.wrapper-getstarted {
		@include screen(xs) {
			text-align: center;
		}
		img {
			@include screen(xs) {
				max-width: 50%;
				margin: 0 auto;
			}
		}
	}

}

// TARIFFS
.wrapper-tariffs {
	.heading {
		color: #fff;
		h2 {
			font-weight: bold;
		}
		p {
			font-size: 20px;
			width: 50%;
			margin: 0 auto;
			@include screen(sm) {
				width: 100%;
			}
			@include screen(xs) {
				width: 100%;
				font-size: 16px;
			}
		}
	}
	.tab-button {
		text-align: center;
		padding: 30px 0;
		border-bottom: 1px solid #ccc;
		@include screen(xs) {
			padding: 15px 0;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 15px;
				a {
					color: #7c7c7c;
					text-transform: uppercase;
					font-weight: bold;
					&:hover, &:focus {
						color: $pink;
					}
				}
			}
		}
	}
	.wrapper-tab-content {
		@include screen(xs) {
			text-align: center;
		}
		&.section {
			@include screen(xs) {
				padding: 0 0 40px;
			}
		}
		h2 {
			font-size: 60px;
			font-weight: bold;
			@include screen(xs) {
				font-size: 35px;
				margin-bottom: 20px;
			}
		}
		h4 {
			font-weight: bold;
		}
		a {
			color: $pink;
			@include screen(xs) {
				text-align: left;
				display: inline-block;
			}
			i {
				vertical-align: text-bottom;
				margin-left: 10px;
			}
		}
		p {
			margin-bottom: 20px;
			@include screen(xs) {
				text-align: left;
			}
		}
		.mt-30 {
			margin-top: 30px;
		}
		.btn-legal-bit {
			color: #000;
			font-weight: bold;
			@include screen(xs) {
				display: block;
			}
		}
		.forms {
			@include screen(xs) {
				margin-bottom: 10px;
			}
			select {
				background: transparent;
				& + i {
					color: #a3a3a3;
				}
			}
		}
		&.local-rates, .local-rates {
			table {
				background: #f2f2f2;
				width: 100%;
				margin-bottom: 20px;
				tr {
					&:last-child {
						td {
							border-bottom: 0;
						}
					}
					td {
						padding: 15px 30px;
						border-bottom: 1px solid #c2c2c2;
						@include screen(xs) {
							padding: 10px 15px;
						}
						&:first-child {
							width: 65%;
							@include screen(xs) {
								text-align: left;
								width: 60%;
							}
						}
						&:last-child {
							width: 35%;
							text-align: right;
							@include screen(xs) {
								width: 40%;
							}
						}
					}
				}
			}
			h3 {
				margin-top: 50px;
				@include screen(xs) {
					margin-top: 30px;
					margin-bottom: 0;
					text-align: left;
					font-size: 18px;
				}
			}
			.btn-learn-more {
				font-size: 24px;
				font-weight: bold;
				@include screen(xs) {
					font-size: 18px;
					display: block;
				}

			}
		}
		&.idd {
			.popular-country {
				margin-bottom: 15px;
			}
			p {
				@include screen(xs) {
					text-align: center;
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					vertical-align: top;
					margin-right: 45px;
					text-align: center;
					@include screen(xs) {
						margin: 0 10px;
					}
					p {
						margin-top: 10px;
					}
				}
			}
			.content-dropdown-idd {
				border: 1px solid #ccc;
				padding: 25px 30px;
				@include screen(xs) {
					padding: 15px;
				}
				img {
					max-width: 33px;
				}
				h4 {
					margin-bottom: 40px;
					@include screen(xs) {
						margin-bottom: 25px;
					}
				}
				h5 {
					margin: 20px 0 0;
					font-size: 18px;
					font-weight: bold;
					@include screen(xs) {
						font-size: 16px;
					}
				}
				.minutes {
					margin-top: 0;
					font-size: 18px;
					@include screen(xs) {
						font-size: 14px;
					}
					span {
						font-size: 24px;
						font-weight: bold;
						@include screen(xs) {
							font-size: 16px;
						}
						&.green {
							color: $green;
						}
						&.orange {
							color: $orange;
						}
						&.blue {
							color: $blue;
						}
					}
				}
				p {
					margin: 50px 0 0;
					@include screen(xs) {
						margin: 30px 0 0;
						font-size: 13px;
					}
				}
			}
		}
		&.roaming {
			p {
				@include screen(xs) {
					text-align: center;
				}
			}
			.content-dropdown-roaming {
				> p {
					text-align: left;
				}
			}
		}
	}
}
// OUR PACKAGES
.wrapper-packages {
	padding: 65px 0 90px;
	color: #fff;
	@include screen(xs) {
		padding: 20px 0 40px;
	}
	.owl-carousel .owl-dots .owl-dot {
		&:first-child {
			background: #f7921e;
		}
		&:nth-child(2) {
			background: $green;
		}
		&:last-child {
			background: $blue;
		}
	}
	p {
		font-size: 25px;
		width: 50%;
		text-align: center;
		margin: 0 auto;
		@include screen(sm) {
			width: 100%;
		}
		@include screen(xs) {
			width: 100%;
			font-size: 14px;
		}
	}
	.button-disclaimer {
		margin-top: 10px;
		.disclaimer  {
			margin-top: 70px;
			font-size: 12px;
			text-align: left;
			width: 100%;
			@include screen(sm) {
				margin-top: 10px;
				text-align: center;
			}
			@include screen(xs) {
				margin-top: 10px;
				text-align: center;
				display: inline-block;
			}
		}
	}
	.package-section {
		margin: 50px 0 0;
		@include screen(xs) {
			margin: 15px 0 0;
		}
	}
	.package {
		border-radius: 10px;
		background: #fff;
		text-align: center;
		padding: 40px 0 0;
		overflow: hidden;
		color: #000;
		@include screen(xs) {
			padding: 25px 0 0;
		}
		.circle-progress {
			height: 180px;
			position: relative;
			p {
				line-height: 1.2;
				font-size: 16px;
				span {
					font-size: 24px;
					font-weight: bold;
				}
			}
			.circle-bar, p {
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 50%;
			}
		}
		// .bg-darkgrey {
		//   background: #333;
		//   color: #fff;
		//   padding: 15px;
		//   img {
		//     position: absolute;
		//     margin-left: 50px;
		//     margin-top: 8px;
		//   }
		//   p {
		//     margin-bottom: 0;
		//     span {
		//       font-size: 30px;
		//       font-weight: bold;
		//       line-height: 1;
		//       margin-top: 8px;
		//       display: block;
		//     }
		//   }
		// }
		.price {
			font-size: 30px;
			margin-top: 30px;
			font-weight: bold;
			width: 100%;
			padding: 15px 20px;
			margin-bottom: 0;
			text-align: right;
			background: #f7f7f7;
			position: relative;
			span {
				position: absolute;
				left: 20px;
				background: $pink;
				padding: 10px 15px;
				top: -5px;
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
			}
		}
		.content {
			margin: 30px 0 60px;
			@include screen(xs) {
				margin: 10px 0 30px;
			}
			p {
				margin-bottom: 0;
				font-size: 20px;
				&.heading {
					font-size: 24px;
					margin-bottom: 30px;
					b {
						font-size: 30px;
						@include screen(md) {
							font-size: 25px
						}
					}
					@include screen(md) {
						font-size: 18px;
					}
					@include screen(sm) {
						font-size: 24px;
					}
					@include screen(xs) {
						margin-bottom: 16px;
						font-size: 20px;
					}
				}
			}
			small {
				color: #737373;
			}
		}
		&.one {
			.circle-progress {
				p {
					color: $orange;
				}
			}
			.price {
				color: $orange;
			}
		}
		&.two {
			.circle-progress {
				p {
					color: $green;
				}
			}
			.price {
				color: $green;
			}
		}
		&.three {
			.circle-progress {
				p {
					color: $blue;
				}
			}
			.price {
				color: $blue;
			}
		}
	}
}
.our-packages {
	.wrapper-packages .button-disclaimer .disclaimer {
		text-align: right;
		margin-top: 40px;
		@include screen(xs) {
			text-align: center;
		}
	}
	.wrapper-how-to-apply {
		h4 {
			margin-top: 20px;
			a {
				margin-left: 5px;
				color: $pink;
				i {
					margin-left: 5px;
				}
			}
		}
		.wrapper-topup-details {
			margin-top: 45px;
			text-align: left;
			.topup-package {
				margin-bottom: 30px;
				@include screen(xs) {
					margin-bottom: 10px;
				}
				&.one {
					border-left: 12px solid $orange;
					.orange, .price {
						color: $orange;
					}
					.key-sms .orange {
						border-color: $orange;
						color: $orange;
					}
				}
				&.two {
					border-left: 12px solid $green;
					.green, .price {
						color: $green;
					}
					.key-sms .green {
						border-color: $green;
						color: $green;
					}
				}
				&.three {
					border-left: 12px solid $blue;
					.blue, .price {
						color: $blue;
					}
					.key-sms .blue {
						border-color: $blue;
						color: $blue;
					}
				}
				.data-info {
					background: #f3f3f3;
					padding: 35px 40px 25px;
					position: relative;
					@include screen(xs) {
						padding: 25px 0 25px;
					}
					h2 {
						margin: 0;
						@include screen(xs) {
							padding: 0 20px;
						}
						span {
							font-weight: normal;
							font-size: 24px;
						}
					}
					p {
						@include screen(xs) {
							padding: 0 20px;
						}
					}
					.price {
						font-size: 30px;
						font-weight: bold;
						@include screen(xs) {
							text-align: right;
						}
						span {
							color: #000;
							font-size: 16px;
							font-weight: normal;
						}
					}
					.info-box {
						margin-top: 25px;
						p {
						}
					}
					.key-sms {
						@include screen(xs) {
							padding: 0 20px;
						}
						span {
							background: #fff;
					    padding: 3px 7px;
					    color: #000;
					    border-radius: 3px;
					    border: 2px solid #000;
					    margin-right: 8px;
							font-weight: 500;
						}
					}
					.btn-view-details {
						color: #000;
						position: absolute;
						bottom: 35px;
						right: 40px;
						&.active {
							i {
								transform: rotate(180deg);
								-webkit-transition: all .5s ease-out;
								-moz-transition: all .5s ease-out;
								-o-transition: all .5s ease-out;
								transition: all .5s ease-out;
							}
						}
						@include screen(xs) {
							position: static;
							text-align: right;
							border-bottom: 1px solid #dadada;
							padding: 0 20px 15px;
							margin-bottom: 15px;
						}
						i {
							font-weight: bold;
							font-size: 20px;
							margin-left: 10px;
							vertical-align: top;
							transform: rotate(0);
							-webkit-transition: all .5s ease-out;
							-moz-transition: all .5s ease-out;
							-o-transition: all .5s ease-out;
							transition: all .5s ease-out;
						}
					}
				}
				.view-details {
					font-size: 12px;
					padding: 20px 40px 45px;
					background: #e3e3e3;
					border-top: 1px solid #c6c6c6;
					display: none;
					@include screen(xs) {
						padding: 20px 20px 30px;
					}
					p {
						margin-bottom: 0;
					}
					ul {
						margin: 0 0 30px 15px;
						padding: 0;
					}
				}
			}
		}
		.disclaimer {
			font-size: 12px;
			@include screen(xs) {
				text-align: center;
			}
		}
	}
	.wrapper-benefit-packages {
		padding: 0 0 80px 0;
		@include screen(xs) {
			padding: 0 0 40px 0;
		}
		h3 {
			font-weight: bold;
			margin: 0 0 70px;
			@include screen(xs) {
				margin: 0 0 30px;
			}
		}
	}
	.wrapper-run-out-data {
		color: #fff;
		position: relative;
		@include screen(xs) {
			text-align: center;
		}
		p {
			font-size: 20px;
			@include screen(xs) {
				font-size: 16px;
			}
		}
		.disclaimer {
			font-size: 14px;
			position: absolute;
			bottom: 70px;
			@include screen(xs) {
				position: static;
				padding: 30px 0 0;
			}
		}
		.add-on-pack-details {
			padding: 40px 0 0;
			background: #fff;
			border-radius: 10px;
			color: #000;
			overflow: hidden;
			@include screen(xs) {
				margin-top: 30px;
			}
			h2 {
				b {
					font-size: 35px;
				}
				span {
					font-size: 30px;
				}
			}
			p {
				font-size: 18px;
				margin-bottom: 30px;
			}
			.price {
				background: #f3f3f3;
				padding: 20px 30px;
				text-align: right;
				color: $pink;
				font-size: 28px;
				font-weight: bold;
				position: relative;
				margin-bottom: 0;
				@include screen(xs) {
					padding: 15px;
				}
				span {
					position: absolute;
					top: -5px;
					left: 20px;
					background: $pink;
					text-transform: uppercase;
					color: #fff;
					font-size: 14px;
					padding: 10px 15px;
				}
			}
		}
		.key-sms {
			background: #f3f3f3;
			padding: 25px 15px;
			border-radius: 10px;
			margin-top: 10px;
			color: #000;
			font-size: 18px;
			span {
				border: 2px solid #000;
				border-radius: 3px;
				padding: 3px 7px;
				margin-right: 5px;
				font-weight: 500;
				@include screen(xs) {
					margin-right: 0;
					padding: 1px 3px;
				}
				&.pink {
					color: $pink;
					border-color: $pink;
				}
			}
		}
	}
	.wrapper-recommend-btn {
		a {
			@include screen(xs) {
				margin: 10px 0 0;
			}
		}
		img {
			height: 165px;
			width: auto;
			@include screen(sm) {
				height: 150px;
			}
			@include screen(xs) {
				margin-top: 35px;
				height: 90px;
			}
		}
	}
}

// FREE SIM
.wrapper-free-sim {
  .media {
    margin: 15px 0 20px;
    h2 {
      margin-top: 20px;
      @include screen(xs) {
        margin-top: 0;
      }
    }
  }
}

// TOP UP
.wrapper-topup {
  form[name=topup-amount] {
    .phone-number {
      position: relative;
      input {
        font-weight: bold;
      }
    }
    .radio {
      display: inline-block;
      width: 49%;
      margin-top: 0;
      padding: 0 3px;
      &.right {
        text-align: right;
        float: right;
      }
      &.enter-amount-show {
        width: 100%;
        .enter-amt {
          padding: 20px;
          color: #fff;
          text-align: left;
          label {
            width: 100%;
            font-size: 16px;
            color: #fff;
          }
          .currency-wrapper {
            position: relative;
            .currency, input[name=otheramount], .button-wrapper {
              display: inline-block;
              vertical-align: middle;
            }
            .currency {
              color: #fff;
              font-size: 30px;
              position: static;
              transform: none;
              width: auto;
              margin: 0;
              // &.rmb {
              //   &.show {
              //     display: block;
              //   }
              // }
              // &.pound {
              //   display: none;
              //   &.show {
              //     display: block;
              //   }
              // }
            }
            input[name=otheramount] {
              width: 40%;
              border: 0;
              background: transparent;
              text-align: left;
              font-weight: bold;
              font-size: 22px;
              padding: 2px 15px;
              color: #fff;
              &:focus {
                outline: 0;
              }
            }
            .button-wrapper {
              float: right;
              a {
                background: #fff;
                padding: 10px 15px;
                color: #000;
                display: inline-block;
                margin-right: 8px;
                border-radius: 3px;
                @include screen(xs) {
                  padding: 7px;
                  margin-right: 0;
                  font-size: 12px;
                }
                i {
                  display: none;
                }
                &.active {
                  border: 1px solid #000;
                  i {
                    display: inline-block;
                    color: #00a651;
                    font-size: 16px;
                    margin-left: 15px;
                    @include screen(xs) {
                      font-size: 10px;
                      margin-left: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      label {
        width: 100%;
        color: #000;
        font-family:Arial, sans-serif;
        font-size:30px;
        padding-left: 0;
        input[type="radio"] {
          display: none;
          &  + div {
            display:inline-block;
            position: relative;
            width: 100%;
            vertical-align:middle;
            text-align: center;
            text-transform: uppercase;
            line-height: 1;
            height: 120px;
            cursor:pointer;
            background-color:#f0f0f0;
            border: 1px solid #ccc;
            @include screen(xs) {
              height: 100px;
            }
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
            }
            &.other-amt {
              font-size: 18px;
              position: relative;
              .enter-amt {
                display: none;
              }
            }
            span {
              position: absolute;
              bottom: 10px;
              right: 10px;
              font-size: 16px;
              color: #525252;
              font-weight: bold;
            }
          }
          &:checked + div {
            background-color:$pink;
            color: #fff;
            &.other-amt {
              .enter-amt {
                display: block;
              }
            }
            span {
              color: #fff;
            }
            &.other-amt {
              p {
                color: $pink;
              }
            }
          }

        }
      }
    }

    .btn-edit {
      text-decoration: underline;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #000;
    }
  }
  .info {
    text-indent: -35px;
    margin-left: 35px;
    &.open {
      a span.caret {
        transform: rotate(180deg);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
      }
    }
    a {
      color: #000;
      span.caret {
        border-top: 8px dashed;
        border-top: 8px solid \9;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        margin-left: 8px;
        transform: rotate(0deg);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
      }
    }
    span {
      img {
        margin-right: 10px;
      }
    }
  }
  .find-number {
    display: none;
    margin-left: 35px;
    p {
      color: #a3a3a3;
    }
  }
  button[type=submit] {
    margin-top: 30px;
  }
  &.payment {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      &.payment-list {
        border-top: 1px solid #ccc;
        margin-top: 25px;
      }
      a {
        display: block;
        color: #000;
      }
      > li {
        padding: 30px 0;
        border-bottom: 1px solid #ccc;
        @include screen(xs) {
          padding: 15px 0;
        }
        .media-left {
          padding-right: 25px;
          @include screen(xs) {
            padding-right: 15px;
            img {
              max-width: 25px;
            }
          }
        }
        &.credit {
          i {
            font-size: 42px;
            width: 44px;
            margin-right: 25px;
            vertical-align: middle;
            display: inline-block;
            @include screen(xs) {
              margin-right: 15px;
              max-width: 25px;
              font-size: 25px;
            }
          }
          h4, .credit-list  {
            display: inline-block;
            vertical-align: middle;
          }
          ul.credit-list {
            margin-left: 50px;
            @include screen(xs) {
              margin-left: 20px;
            }
            li {
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              padding: 0;
              border-bottom: 0;
              @include screen(xs) {
                margin-right: 2px;
                img {
                  max-width: 41px;
                }
              }
            }
          }
        }
        h4 {
          font-size: 20px;
          @include screen(xs) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &.success {
    .wrapper-box {
      &.grey {
        padding: 15px;
      }
      table {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
	.wrapper-error {
		background: $error-red;
		color: #fff;
    padding: 20px 0;
    display: none;
    @include screen(xs) {
      padding: 10px 0;
    }
    i {
      font-size: 25px;
      margin-right: 10px;
    }
    p {
      margin: 0;
      color: #fff;
    }
    p, i {
      display: inline-block;
      vertical-align: middle;
    }
	}
}

// CONTACT US
.wrapper-contact {
  .contact-details {
    .icon-text {
      text-indent: -17px;
      margin-left: 35px;
      margin-top: 30px;
      @include screen(xs){
        margin-left: 35px;
        margin-top: 20px;
      }
      i {
        color: #8ec31f;
        font-size: 20px;
        vertical-align: sub;
        margin-right: 10px;
      }

    }
  }
  form {
    margin-top: 35px;
    @include screen(xs) {
      margin-top: 0;
    }
  }
}

// ERROR
.wrapper-error {
  background: #eee;
  width: 100%;
  height: 100%;
  color: $error-red;
  padding: 60px 0;
  h1 {
    i {
      font-size: 80px;
    }
    font-size: 70px;
  }
}

// SITE MAP
.wrapper-sitemap {
	ul {
    margin: 0 0 0 15px;
    padding: 0;
		li {
			list-style: disc;
			color: #ccc;
      a {
        color: $pink;
      }
		}
	}
}

// REGISTER
.wrapper-register {
  &.thank-you {
    @include screen(sm) {
      padding: 15px 0;
    }
  }
}

// GET STARTED PAGE
.wrapper-getstarted {
	.banner-get-started {
		padding: 50px;
		@include screen(xs) {
			padding: 30px 20px;
		}
		.content {
			width: 50%;
			margin: 0 auto;
			color: #fff;
			@include screen(xs) {
				width: 100%;
			}
			p {
				font-size: 20px;
			}
		}
	}
	.wrapper-steps {
		margin: 80px 0;
		text-align: center;
		@include screen(xs) {
			margin: 30px 0;
		}
		.steps-content {
			font-weight: bold;
			font-size: 20px;
			margin-top: 30px;
			img {
				@include screen(sm) {
					max-width: 100%;
				}
				@include screen(xs) {
					height: 85px;
					width: auto;
				}
			}
			p {
				margin-top: 15px;
				@include screen(xs) {
					text-indent: -33px;
					font-size: 16px;
					text-align: left;
					margin-left: 55px;
				}
			}
			span {
				background: #000;
		    color: #fff;
		    border-radius: 50%;
		    padding: 5px 8px;
				margin-right: 5px;
				font-size: 14px;
				vertical-align: text-top;
			}
		}
	}
	.wrapper-general-questions {
		.heading-general {
			padding: 20px 0;
			text-align: center;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			@include screen(xs) {
				padding: 10px 0;
			}
		}
		.wrapper-accordion {
			@include screen(xs) {
				margin-top: 25px;
			}
			h4 {
				padding: 50px 0 20px;
				text-align: center;
				@include screen(xs) {
					text-align: left;
					padding: 20px 0 20px;
				}
				&.blue {
					color: #157bd7;
				}
				&.orange {
					color: #f7921e;
				}
				&.green {
					color: $green;
				}
				&.pink {
					color: $pink;
				}
				&.panel-title {
					padding: 15px 0;
					text-align: left;
					position: relative;
					@include screen(xs) {
						padding: 10px 0;
					}
					a {
						display: block;
						padding-right: 20px;
						&.collapsed {
							i {
								transform: rotate(180deg) translateY(50%);
								-webkit-transition: all .5s ease-out;
						    -moz-transition: all .5s ease-out;
						    -o-transition: all .5s ease-out;
						    transition: all .5s ease-out;

							}

						}
					}
					i {

						font-size: 30px;
						line-height: 0.5;
						position: absolute;
						right: 0;
						top: 50%;
						transform: rotate(0) translateY(-50%);
						-webkit-transition: all .5s ease-out;
						-moz-transition: all .5s ease-out;
						-o-transition: all .5s ease-out;
						transition: all .5s ease-out;
					}
				}
			}
			.panel-body {
				padding: 10px 0;
			}
			.panel-group {
				border-top: 1px solid #ccc;
				.panel {
					border-radius: 0;
					border: 0;
					box-shadow: none;
					border-bottom: 1px solid #ccc;
				}
			}
			.panel-default > .panel-heading {
				background-color: transparent;
				@include screen(xs) {
					padding: 10px 0;
				}
			}
		}
	}
}

// LEFT SIDE CONTENT
.container-left {
  min-height: 600px;
  margin-bottom: 60px;
  @include screen(sm) {
    padding: 0 10px;
    min-height: inherit;
  }
  @include screen(xs) {
    min-height: inherit;
    padding: 15px 0;
  }
  h2 {
    margin-top: 40px;
    @include screen(xs) {
      margin-top: 30px;
    }
  }
}

// RIGHT SIDE CONTENT
.container-right {
  padding: 50px;
  height: 100%;
  @include screen(xs) {
    background: #f2f2f2;
    padding: 15px;
  }
  @include screen(sm) {
    background: #f2f2f2;
    padding: 30px;
  }
  .icon-text {
    text-indent: -17px;
    margin-left: 17px;
    margin-bottom: 30px;
    @include screen(xs){
      margin-left: 35px;
      margin-bottom: 10px;
    }
    i {
      color: #8ec31f;
      font-size: 20px;
      vertical-align: sub;
      margin-right: 10px;
    }

  }
  h3 {
    margin-top: 50px;
    @include screen(xs){
      margin-top: 20px;
    }
  }
  table {
    width: 100%;
    tr td {
      width: 50%;
    }
  }
  ol {
    margin: 0;
    padding: 0;
    &.custom-counter {
      list-style-type: none;
      li {
        counter-increment: step-counter;
        margin-top: 25px;
        @include screen(xs) {
          margin-top: 15px;
        }
        ul {
          list-style: none;
          margin-left: -7px;
          li {
            display: inline-block;
            vertical-align: top;
            margin-top: 20px;
            margin-right: 25px;
            @include screen(sm) {
              margin-top: 10px;
              margin-right: 10px;
            }
            @include screen(xs) {
              margin-top: 10px;
              margin-right: 10px;
            }
            &:before {
              display: none;
            }
          }
        }
        &::before {
          content: counter(step-counter);
          margin-right: 5px;
          font-size: 12px;
          background-color: #8ec31f;
          color: white;
          padding: 7px 9px 5px;
          border-radius: 50%;
          line-height: 1;
        }
      }
    }
  }
}

// FOOTER
footer {
	background: #333;
	padding: 40px 0 30px;
	@include screen(xs) {
		padding: 25px 0 30px;
	}
	h4 {
		color: #fff;
	}
	.copyright {
		margin-top: 30px;
		img {
			@include screen(xs) {
				max-width: 60%;
			}

		}
	}
	p.rights {
		font-size: 12px;
		color: #959595;
		margin-top: 30px;
		@include screen(xs) {
			margin-top: 10px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 5px;
			a {
				color: #fff;
				&:hover {
					color: $pink;
				}
			}
		}
	}
}

// ANIMATION
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

// OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-nav {
		.owl-prev, .owl-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 50px;
				color: #989898;
			}
		}
		.owl-prev {
			left: 0;
			&:before {
				content: "\f104";
			}
		}
		.owl-next {
			right: 0;
			&:before {
				content: "\f105";
			}
		}
	}
	.owl-dots {
		width: 100%;
		text-align: center;
		margin-top: 25px;
		.owl-dot {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #ccc;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			&.active {
				width: 15px;
				height: 15px;
			}
		}
	}

}
